<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Selenium Test Example Page</title>

<link rel="stylesheet" type="text/css" href="bootstrap.min.css">

<body>

	<div class="container">
		<h1>Selenium Test Example Page</h1>

		<p>Unordered List</p>
		<div id="list-test">
			<ul class="list">
				<li>One</li>
				<li>Two</li>
				<li>Three</li>
				<li>Four</li>
			</ul>
		</div>

		<table>
			<tr>
				<th>Id</th>
				<<th>Name</th>
				<th>Year of birth</th>
			</tr>
			<tr>
				<td>1</td>
				<td>John</td>
				<td>1970</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Jane</td>
				<td>1980</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Jack</td>
				<td>1990</td>
			</tr>
		</table>

		<p>Form Elements</p>
		<form id="myform">
			<input type="text" name="text" value="" placeholder="Input Text Here"><br>
			<input type="password" name="password" value=""><br>
			<input type="checkbox" name="checkbox" id="checkbox1"> <label for="checkbox1">Check It</label> <br>
			<input type="checkbox" name="disabled-checkbox" disabled="true"> Check It<br>
			<select name="select" id="dropdown">
				<option value="option1">Option 1</option>
				<option value="option2">Option 2</option>
				<option value="option3">Option 3</option>
				<option value="option4">Option 4</option>
			</select><br>
			<select name="select" id="multi-select" multiple="true">
				<option value="option1">Option 1</option>
				<option value="option2">Option 2</option>
				<option value="option3">Option 3</option>
				<option value="option4">Option 4</option>
			</select><br>
			<input type="radio" id="radiobtn1" name="radio" value="radio1"> Radio 1<br>
			<input type="radio" name="radio" value="radio2"> Radio 2<br>
			<textarea name="textarea" style="margin: 0px; width: 299px; height: 135px;"></textarea><br>
			<input type="submit" id="submitbtn" value="Submit">
		</form>
	</div>

</body></html>